services:
  storage-1:
    build: .
    container_name: storage-1
    ports: ["4343:4343", "4001:4001/tcp", "4001:4001/udp"]
    environment:
      - MASSA_ADDRESS=AU1sSNodD1WDJEm7pyBmqRSYQq6vALL1U8vkkMjYw2hsZunRXKVF
      - STORAGE_LIMIT_GB=1
      - RUST_LOG=info
      - CONTRACT_ADDRESS=AS14XRdSCc87DZbMx2Zwa1BWK2R8WmwShFGnTtVa2RLDYyx2vwyn
      - MASSA_RPC_URL=https://buildnet.massa.net/api/v2
      - MASSA_GRPC_URL=grpc://buildnet.massa.net:33037
      - PRIVATE_KEY=
      - PUBLIC_ENDPOINT=http://localhost:4343
    volumes: [storage-1-data:/app/data]
    healthcheck:
      {
        test: ["CMD", "curl", "-f", "http://localhost:4343/health"],
        interval: 10s,
        timeout: 3s,
        retries: 3,
      }
  storage-2:
    build: .
    container_name: storage-2
    ports: ["4344:4343", "4002:4001/tcp", "4002:4001/udp"]
    environment:
      - MASSA_ADDRESS=AU12PRWxYvqQkYhGmSaCZH5sva59pbA4J8XPFimwf7GoXbV7P2taW
      - STORAGE_LIMIT_GB=1
      - RUST_LOG=info
      - CONTRACT_ADDRESS=AS14XRdSCc87DZbMx2Zwa1BWK2R8WmwShFGnTtVa2RLDYyx2vwyn
      - MASSA_RPC_URL=https://buildnet.massa.net/api/v2
      - MASSA_GRPC_URL=grpc://buildnet.massa.net:33037
      - PRIVATE_KEY=
      - PUBLIC_ENDPOINT=http://localhost:4344
    volumes: [storage-2-data:/app/data]
    healthcheck:
      {
        test: ["CMD", "curl", "-f", "http://localhost:4343/health"],
        interval: 10s,
        timeout: 3s,
        retries: 3,
      }
volumes:
  storage-1-data:
  storage-2-data:
