@tailwind base;
@tailwind components;
@tailwind utilities;

/* Évite l'écran blanc avant le rendu React */
html, body, #root {
  min-height: 100vh;
  margin: 0;
}
body {
  background-color: #0f172a;
}
